body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.light-blue-color {
  color: #54caf5;
}
.reg-blue-color {
  color: #43a3c6;
}
.white {
  color: #ffffff;
}
.light-f {
  font-family: "Roboto Flex";
  font-weight: 100;
}
.reg-f {
  font-weight: 400;
}
.med-font {
  font-weight: 500;
}
.gray {
  color: #333333;
}
.gray-bg {
  background-color: #333330;
}
/* ******Menu*************************************************Nav */
.menu-dropdown.none {
  display: none;
}
#nav-container.none {
  display: none;
}
.hamburger-none {
  display: none;
}
.menu-dropdown ul {
  list-style-type: none;
  display: block;
}

.logo-avatar {
  max-width: 40%;
  max-height: 40px;
}
.avatar {
  width: 30px;
  height: 30px;
}
.logo {
  margin-right: 10px;
}
.logo-open {
  display: none;
}
#nav-container {
  display: flex;
  margin: 0px 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
}

#nav-container.open {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.125);
}
.logo-stuff {
  display: flex;
  align-items: center;
}
.menu-items {
  display: flex;
  margin-left: auto;
}

.menu-items h4 {
  margin: 0 3vw;
  font-size: 22px;
  font-size: 0.95rem;
}
.menu-dropdown h3 {
  display: flex;
  justify-content: center;
  padding: 10px 130px;
}
.menu-dropdown {
  display: block;
}
.menu-icon-open {
  display: flex;
  justify-content: center;
}
.hamburger-open {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 740px) {
  .menu-items {
    display: none;
    flex-direction: column;
  }
  @media screen and (max-width: 610px) {
    #nav-container {
      margin: 0px 10px;
    }
  }

  .menu-items.open {
    display: flex;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
    margin-right: 15px;
  }
  .menu-dropdown {
    display: block;
  }
}

/* *****Hero***********************************Hero */
hr {
  margin-top: auto;
}
.br {
  margin-bottom: 0em;
}
.br-info {
  margin-bottom: 0em;
  margin-top: 0;
}
#hero-section {
  margin-top: auto;
}
.hero-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  /* margin-bottom: 5px; */
  margin-left: 40px;
}
.hero-text-container {
  width: 60%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.hero-text-container h4 {
  margin-bottom: 0;
}
.hero-text-container p {
  width: 80%;
}

.hero-text-container h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 5em;
  width: 90%;
}

.hero-text-container h1:nth-child(2) {
  margin-bottom: 0;
}
.your-bod {
  margin-left: 60px;

  margin-top: 0;
}

.hero-text-container button {
  font-family: Arial;
  font-size: 16px;
  background: #54caf5;
  padding: 18px 22px 18px 22px;
  text-decoration: none;
  border-radius: 10px 0px 10px 0px;
  border: none;
  margin-top: auto;
  width: 12em;
}
.hero-text-container button:hover {
  background: #43a3c6;
  text-decoration: none;
}

.image-container {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-images {
  width: 100%;

  height: auto;
}

.image-container button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 17px 10px 17px;
  border: solid #ffffff 2px;
  text-decoration: none;
  margin-bottom: auto;
}

.image-container button:hover {
  background: #43a3c6;
  text-decoration: none;
}
.hero-img-buttons {
  display: flex;
  justify-content: center;
  width: 130px;
  justify-content: space-between;
}
/* .block {
  width: 100px;
  height: 100px;
  float: left;
  position: absolute;
  top: 500px;
  bottom: 10px;
  border-radius: 100;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
} */
@media screen and (max-width: 1070px) {
  .hero-text-container {
    width: 70%;
  }

  .hero-text-container p {
    width: 90%;
  }

  .hero-text-container h1 {
    font-size: 3.7em;
  }
}
@media screen and (max-width: 856px) {
  .hero-text-container p {
    font-size: 1em;
  }

  .hero-text-container h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 740px) {
  .hero-text-container p {
    font-size: 0.9em;
  }
  .hero-text-container h4 {
    font-size: 0.9em;
  }
  .hero-text-container h1 {
    font-size: 2.8em;
  }
  .hero-text-container {
    width: 75%;
  }
  .hero-text-container button {
    padding: 8px 22px 8px 22px;

    width: 8em;
  }
  .image-container button {
    padding: 8px 10px 8px 10px;
  }
  .hero-img-buttons {
    display: flex;
    justify-content: center;
    width: 100px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 660px) {
  .hero-text-container {
    width: 90%;
    margin-top: 2%;
  }
  .hero-text-container p {
    width: 90%;
    font-size: 0.8em;
  }
  .hero-images {
    margin-top: 2%;
    width: 90%;

    height: auto;
  }
  .hero-text-container button {
    padding: 10px 22px 10px 22px;
    width: 10em;
  }
  .image-container button {
    padding: 5px 8px 5px 8px;
  }
  .hero-img-buttons {
    display: flex;
    justify-content: center;
    width: 85px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 610px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin: 40px;
  }
  .hero-images {
    display: none;
  }

  .hero-text-container {
    width: 90%;
    margin-top: 2%;
  }
  .image-container button {
    display: none;
  }
  .hero-text-container button {
    padding: 13px 22px 13px 22px;
    width: 10em;
  }
  .hero-text-container p {
    font-size: 0.95em;
  }
  .hero-text-container h4 {
    font-size: 1.1em;
    margin-top: 0;
  }
  .hero-text-container h1 {
    font-size: 2.8em;
  }
}

/******HeroNav******************************** HeroNav */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/hero-bg/herob-2.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/********************* FirstInfo */

#first-info-sec {
}
.f-info-container {
  margin: 40px;
  padding-bottom: 20px;
  margin-right: 40px;
  margin-top: 60px;
}

.f-infotext {
  text-align: center;
  margin-bottom: 20px;
}
.f-infotext h2 {
  margin: 0;
  font-size: 2.5em;
  color: #333333;
  font-weight: 500;
}
.f-infotext p {
  margin: 0;
  line-height: 1.5em;
  color: #333333;
  font-family: Roboto Flex;
  font-size: 1.4em;
}

.f-infotext .intro {
  margin-bottom: 12px;
}
.f-info-all {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  justify-content: space-around;
}
.f-img-contain {
  width: 60%;
}
.info-img {
  width: 70%;
  height: auto;
  margin-top: 5%;
  margin-left: 30px;
}

.f-info-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  width: 40%;
  margin-top: 5%;
}
.f-info-tabs img {
  margin-bottom: 30px;
}

@media screen and (max-width: 1070px) {
  .f-infotext h2 {
    font-size: 2em;
  }
  .f-infotext p {
    line-height: 1.5em;

    font-size: 1em;
  }
  .info-img {
    width: 90%;
  }
}

@media screen and (max-width: 856px) {
  .f-infotext h2 {
    font-size: 1.95em;
  }
  .f-infotext p {
    line-height: 1.4em;

    font-size: 1em;
  }
  .info-img {
    width: 90%;

    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 740px) {
  .f-infotext h2 {
    font-size: 1.8em;
  }
  .f-infotext p {
    line-height: 1.2em;

    font-size: 0.95em;
  }
}

@media screen and (max-width: 660px) {
  .f-infotext h2 {
    font-size: 1.8em;
  }
  .f-infotext p {
    line-height: 1.5em;

    font-size: 0.9em;
  }
  .info-img {
    width: 85%;
  }
  .f-info-tabs img {
    margin-bottom: 10px;
  }

  .f-info-tabs {
    margin-top: 2%;
  }
}

@media screen and (max-width: 610px) {
  .f-info-container {
    margin: 40px;
  }

  .f-infotext {
    margin-bottom: 15px;
  }
  .f-infotext h2 {
    font-size: 1.5em;
  }
  .f-infotext p {
    line-height: 1.3em;

    font-size: 0.8em;
  }

  .f-info-tabs img {
    margin-bottom: 10px;
  }
  .f-info-all {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
  }
  .f-img-contain {
    display: flex;
    justify-content: center;
  }
  .info-img {
    width: 98%;

    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .f-info-tabs {
    margin-right: 0px;
    width: 60%;
  }
}

/*******WHYUS************************************************* WHYUS */
#why-us {
  background-color: #333330;
  overflow: hidden;
}
.why-us-container {
  margin: 20px;
  padding-bottom: 60px;
  padding-top: 10px;
  background-color: #333330;
  display: flex;
  flex-direction: column;
  margin-bottom: 0; /* padding-top: 10%; */
}
.title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

  padding-left: 80px;
}
.whyus-title-text h4 {
  font-size: 1em;
  margin-bottom: 10px;
}
.whyus-title-text h1 {
  font-size: 2.5em;
  margin-top: 0;
  font-family: Roboto Flex;
  font-weight: 800;
}
.wu-button-stuff {
  width: 20%;
  justify-content: center;
  /* margin-left: 80px; */
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wu-button-stuff button {
  /* margin-top: 20%; */
  font-size: 15px;
  background: #ffffff;
  padding: 15px 55px 15px 55px;
  text-decoration: none;
  border: 3px solid #8ddffe;
  width: 215px;
}
.wu-button-stuff button:hover {
  background: #8ddffe;
  border: 3px solid white;
  text-decoration: none;
}
/* .wu-button-stuff .button-box {
  border: 2px solid #54caf5;
  padding: 32px 55px 32px 55px;
  margin-top: -60px;
  margin-left: 10px;
  width: 105px;
} */

.slider {
  display: flex;
  justify-content: center;
}
.slider div {
  /* width: 2160px;
  height: 200px; */
  width: 4320px;
  height: 400;
  object-fit: scale-down;
}

.slider-div img {
  width: 1080px;
  height: 400px;
}
@media screen and (max-width: 1300px) {
  .slider div {
    width: 2880px;
    height: 266px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 720px;
    height: 266px;
  }
  .title-button {
    padding-left: 40px;
    padding-right: 40px;
  }
  .whyus-title-text h4 {
    font-size: 0.8em;
    width: 50%;
  }
  .whyus-title-text h1 {
    font-size: 2em;
  }
  .wu-button-stuff {
    width: 50%;
    display: flex;
    align-items: flex-end;
  }
  .wu-button-stuff button {
    /* margin-top: 20%; */
    font-size: 10px;

    padding: 12px 55px 12px 55px;

    width: 150px;
  }
  .wu-button-stuff .button-box {
    display: none;
  }
}

@media screen and (max-width: 856px) {
  .title-button {
    padding-left: 0px;
  }
  .whyus-title-text h4 {
    font-size: 0.8em;
    width: 50%;
  }
  .whyus-title-text h1 {
    font-size: 2em;
  }
  .wu-button-stuff {
    width: 50%;
    display: flex;
    align-items: flex-end;
  }
  .wu-button-stuff button {
    /* margin-top: 20%; */
    font-size: 10px;

    padding: 12px 55px 12px 55px;

    width: 160px;
  }
  .wu-button-stuff .button-box {
    display: none;
  }
  .slider div {
    width: 2160px;
    height: 200px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 540px;
    height: 200px;
  }
}

/****Schedule************************************** SCHEDULE STUFF */
.hero-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/schedule/pexels-max-rahubovskiy-7031705.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: auto;
}

.schedule-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.schedule-all .title {
  display: flex;
  flex-direction: column;
  margin-top: 2%;

  align-items: center;
}
.schedule-all .title h4 {
  margin-bottom: 5px;
}

.schedule-all .title h1 {
  margin-top: 0;
  font-size: 3em;
  font-family: Roboto Flex;
}
.tab-sec-1,
.tab-sec-2,
.tab-sec-3 {
  display: flex;
  justify-content: center;
}

.s-tabs img {
  width: 40%;
}

.schedule-tabs-all {
  margin-bottom: 8%;
}

@media screen and (max-width: 740px) {
  .schedule-all .title h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 610px) {
  .schedule-all .title h1 {
    font-size: 1.4em;
    margin-top: 0;
  }
}

/********SECOND INFO TAB**************************************************** SECOND INFO TAB */
.sec-info-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.sec-info-vid {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 5%;
}
.sec-tabs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sec-tab-row {
  display: flex;
  justify-content: center;
}

.sec-tab-row img {
  width: 40%;
}
video {
  width: 90%;
}
@media screen and (max-width: 740px) {
  .sec-info-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
  .sec-info-vid {
    width: 100%;
  }
  video {
    width: 70%;
  }

  .sec-tabs {
    width: 100%;
  }
}

/****OUR TEAM*********************************************** OUR TEAM */
#our-team-section {
  padding-bottom: 30px;
  object-fit: cover;
  overflow: hidden;
}

.our-team-all {
  margin-left: 40px;
  margin-right: 40px;
}
.our-team-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
}
.our-team-title h1 {
  font-size: 3.5em;
  margin-top: auto;
  font-family: Roboto Flex;
}
.our-team-title h4 {
  margin-bottom: 4px;
  margin-top: 3%;
}

.o-team-slider .team-tab {
  width: 50%;
}
.team-tab img {
  width: 90%;
}
/* .slick-arrow,
.slick-prev,
.slick-next {
} */
@media screen and (max-width: 740px) {
  .our-team-title h1 {
    font-size: 1.8em;
    margin-top: auto;
    font-family: Roboto Flex;
  }
  .our-team-title h4 {
    margin-top: 8%;
  }
  .o-team-slider {
    width: 600px;
  }
  .o-team-slider .team-tab {
    width: 100%;
  }
  .team-tab img {
    width: 100%;
  }
}

/***BMICALC********************************************************** BMI CALC */
#bmi-section {
}
.bmi-all {
  display: flex;

  justify-content: space-between;
  background-color: #8ddffe;
}

.bmi-title-metrics {
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bmi-title-metrics h1 {
  font-size: 3.8em;
  font-family: Roboto Flex;
}
.bmi-title-metrics button {
  margin-top: 30px;
  margin-right: 5%;
  width: 185px;
  height: 50px;
  font-size: 1em;
  background-color: #333330;
  color: #54caf5;
  font-weight: 800;
  border: none;
}
.bmi-title-metrics button:hover {
  background-color: white;
  border: 3px solid #54caf5;
}
#bmi-section img {
  width: 100%;
}
.bmi-all .img-contain {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.bmi-title-metrics input {
  width: 275px;
  height: 55px;
  background-color: #8ddffe;
  color: #ffffff;
  font-family: Roboto Flex;
  font-weight: 900;
  font-size: 2em;
  margin-right: 45px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1300px) {
  .bmi-title-metrics {
    width: 45%;
    padding: 0px;
  }
  .bmi-title-metrics h1 {
    font-size: 3em;
    margin-top: 0px;
  }
  #bmi-section img {
    width: 100%;
    height: 100%;
  }
  .bmi-all .img-contain {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .bmi-title-metrics input {
    width: 150px;
    height: 35px;
    font-size: 1em;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 856px) {
  .bmi-title-metrics {
    width: 45%;

    margin-left: 0px;
  }
  .bmi-title-metrics h1 {
    font-size: 2.4em;
    margin-top: 25px;
  }
  #bmi-section img {
    width: 100%;
    height: 100%;
  }
  .bmi-all .img-contain {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .bmi-title-metrics input {
    width: 126px;
    height: 30px;
    font-size: 1em;
    margin-right: 15px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 740px) {
  .bmi-title-metrics {
    width: 45%;

    margin-left: 0;
  }
  .bmi-title-metrics h1 {
    font-size: 2em;
    margin-top: -2px;
  }
  #bmi-section img {
    width: 100%;
    height: 100%;
  }
  .bmi-all .img-contain {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .bmi-title-metrics input {
    width: 80px;
    height: 20px;
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .bmi-title-metrics button {
    margin-top: 8px;
    margin-right: 3%;
    width: 125px;
    height: 30px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 660px) {
  .bmi-title-metrics {
    width: 45%;
    padding: 20px;
    margin-left: 0;
  }
  .bmi-title-metrics h1 {
    font-size: 1.8em;
    margin-top: -2px;
  }
  #bmi-section img {
    width: 100%;
    height: 100%;
  }
  .bmi-all .img-contain {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .bmi-title-metrics input {
    width: 80px;
    height: 20px;
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .bmi-title-metrics button {
    margin-top: 8px;
    margin-right: 3%;
    width: 125px;
    height: 30px;
    font-size: 0.8em;
  }
}

/**CLIENT FEEDBACK******************************************************* CLIENT FEEDBACK */
#client-feedback {
  overflow: hidden;
  padding-bottom: 30px;
}

.client-f-all {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.client-f-text h1 {
  font-size: 3em;
  font-family: Roboto Flex;
  margin-bottom: 0px;
  margin-top: 3%;
}
.client-f-text p {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5em;
}
.slick-prev,
.slick-next,
.slick-arrow {
  background-color: #333333;
}
.slick-prev,
.slick-next,
.slick-arrow:hover {
  background-color: #333333;
}

@media screen and (max-width: 856px) {
  .client-f-text h1 {
    font-size: 1.8em;
    margin-top: 5%;
  }
  .client-f-text p {
    font-size: 0.95em;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 740px) {
  .client-f-text h1 {
    font-size: 1.5em;
    margin-top: 5%;
  }
  .client-f-text p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 610px) {
  .client-f-text h1 {
    font-size: 1.4em;
    margin-top: 5%;
  }
  .client-f-text p {
    font-size: 0.8em;
    line-height: 1.3em;
  }
  .client-f-all {
    margin-left: 20px;
    margin-right: 20px;
  }
}
