body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.light-blue-color {
  color: #54caf5;
}
.reg-blue-color {
  color: #43a3c6;
}
.white {
  color: #ffffff;
}
.light-f {
  font-family: "Roboto Flex";
  font-weight: 100;
}
.reg-f {
  font-weight: 400;
}
.med-font {
  font-weight: 500;
}
.gray {
  color: #333333;
}
.gray-bg {
  background-color: #333330;
}

Link:focus,
:visited,
:link,
:active {
  text-decoration: none;
  color: inherit;
}
/* ******Menu*************************************************Nav */
.menu-dropdown.none {
  display: none;
}
#nav-container.none {
  display: none;
}
.hamburger-none {
  display: none;
}
.menu-dropdown ul {
  list-style-type: none;
  display: block;
}

.logo-avatar {
  max-width: 40%;
  max-height: 40px;
}
.avatar {
  width: 30px;
  height: 30px;
}
.logo {
  margin-right: 10px;
}
.logo-open {
  display: none;
}
#nav-container {
  display: flex;
  margin: 0px 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
}

#nav-container.open {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.125);
}
.logo-stuff {
  display: flex;
  align-items: center;
}
.menu-items {
  display: flex;
  margin-left: auto;
}

.menu-items h4 {
  margin: 0 3vw;
  font-size: 22px;
  font-size: 0.95rem;
}
.menu-items h4:hover {
  color: white;
}
.menu-dropdown h3 {
  display: flex;
  justify-content: center;
  padding: 10px 130px;
}
.menu-dropdown {
  display: block;
}
.menu-icon-open {
  display: flex;
  justify-content: center;
}
.hamburger-open {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 740px) {
  .menu-items {
    display: none;
    flex-direction: column;
  }
  @media screen and (max-width: 610px) {
    #nav-container {
      margin: 0px 10px;
    }
  }
  @media screen and (max-width: 400) {
    .logo-avatar {
      max-width: 30%;
      max-height: 30px;
      margin-right: 15px;
    }
  }
  .menu-items.open {
    display: flex;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
    margin-right: 15px;
  }
  .menu-dropdown {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .menu-dropdown h3 {
    display: flex;
    justify-content: center;
    padding: 10px 70px;
  }
}
/* *****Hero***********************************Hero */
#hero-all hr {
  margin-top: auto;
}
.br {
  margin-bottom: 0em;
}
.br-info {
  margin-bottom: 0em;
  margin-top: 0;
}
#hero-section {
  margin-top: auto;
}
.hero-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  margin-left: 40px;
}
.hero-text-container {
  width: 60%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.hero-text-container h4 {
  margin-bottom: 0;
}
.hero-text-container p {
  width: 80%;
}

.hero-text-container h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 5em;
  width: 90%;
}

.hero-text-container h1:nth-child(2) {
  margin-bottom: 0;
}
.your-bod {
  margin-left: 60px;

  margin-top: 0;
}

.hero-text-container .home-hero-btn {
  font-family: Arial;
  font-size: 16px;
  background: #54caf5;
  padding: 18px 22px 18px 22px;
  text-decoration: none;
  border-radius: 10px 0px 10px 0px;
  border: none;
  margin-top: auto;
  width: 12em;
}
.hero-text-container .home-hero-btn:hover {
  background: #43a3c6;
  text-decoration: none;
}

.image-container {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-images {
  width: 100%;
  height: auto;
}

.image-container button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 17px 10px 17px;
  border: solid #ffffff 2px;
  text-decoration: none;
  margin-bottom: auto;
}

.image-container button:hover {
  background: #43a3c6;
  text-decoration: none;
}
.hero-img-buttons {
  display: flex;
  justify-content: center;
  width: 130px;
  justify-content: space-between;
}

@media screen and (max-width: 1070px) {
  .hero-text-container {
    width: 70%;
  }

  .hero-text-container p {
    width: 90%;
  }

  .hero-text-container h1 {
    font-size: 3.7em;
  }
}
@media screen and (max-width: 856px) {
  .hero-text-container p {
    font-size: 1em;
  }

  .hero-text-container h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 740px) {
  .hero-text-container p {
    font-size: 0.9em;
  }
  .hero-text-container h4 {
    font-size: 0.9em;
  }
  .hero-text-container h1 {
    font-size: 2.8em;
  }
  .hero-text-container {
    width: 75%;
  }
  .hero-text-container .home-hero-btn {
    padding: 8px 22px 8px 22px;

    width: 8em;
  }
  .image-container button {
    padding: 8px 10px 8px 10px;
  }
  .hero-img-buttons {
    display: flex;
    justify-content: center;
    width: 100px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 660px) {
  .hero-text-container {
    width: 90%;
    margin-top: 2%;
  }
  .hero-text-container p {
    width: 90%;
    font-size: 0.8em;
  }
  .hero-images {
    margin-top: 2%;
    width: 90%;

    height: auto;
  }
  .hero-text-container .home-hero-btn {
    padding: 10px 22px 10px 22px;
    width: 10em;
  }
  .image-container button {
    padding: 5px 8px 5px 8px;
  }
  .hero-img-buttons {
    display: flex;
    justify-content: center;
    width: 85px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 610px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin: 40px;
  }
  .hero-images {
    display: none;
  }

  .hero-text-container {
    width: 90%;
    margin-top: 2%;
  }
  .image-container button {
    display: none;
  }
  .hero-text-container .home-hero-btn {
    padding: 13px 22px 13px 22px;
    width: 10em;
  }
  .hero-text-container p {
    font-size: 0.95em;
  }
  .hero-text-container h4 {
    font-size: 1.1em;
    margin-top: 0;
  }
  .hero-text-container h1 {
    font-size: 2.8em;
  }
}
@media screen and (max-width: 400px) {
  .hero-container {
    margin: 20px;
    margin-left: 10%;
  }
  .hero-images {
    display: none;
  }

  .image-container button {
    display: none;
  }

  .hero-text-container p {
    display: none;
  }
  .hero-text-container h4 {
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  .hero-text-container h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }
}

/******HeroNav******************************** HeroNav */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/hero-bg/herob-2.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/********************* FirstInfo */

.f-info-container {
  margin: 40px;
  padding-bottom: 20px;
  margin-right: 40px;
  margin-top: 60px;
}

.f-infotext {
  text-align: center;
  margin-bottom: 20px;
}
.f-infotext h2 {
  margin: 0;
  font-size: 2.5em;
  color: #333333;

  font-family: Roboto Flex;
}
.f-infotext p {
  margin: 0;
  line-height: 1.5em;
  color: #333333;
  font-family: Roboto Flex;
  font-size: 1.4em;
}

.f-infotext .intro {
  margin-bottom: 12px;
}
.f-info-all {
  display: flex;
  justify-content: center;

  justify-content: space-around;
}
.f-img-contain {
  width: 60%;
}
.info-img {
  width: 70%;
  height: auto;
  margin-top: 5%;
  margin-left: 30px;
}

.f-info-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  width: 40%;
  margin-top: 5%;
}
.f-info-tabs img {
  margin-bottom: 30px;
}

@media screen and (max-width: 1070px) {
  .f-infotext h2 {
    font-size: 2em;
  }
  .f-infotext p {
    line-height: 1.5em;

    font-size: 1em;
  }
  .info-img {
    width: 90%;
  }
}

@media screen and (max-width: 856px) {
  .f-infotext h2 {
    font-size: 1.95em;
  }
  .f-infotext p {
    line-height: 1.4em;

    font-size: 1em;
  }
  .info-img {
    width: 90%;

    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 740px) {
  .f-infotext h2 {
    font-size: 1.8em;
  }
  .f-infotext p {
    line-height: 1.2em;

    font-size: 0.95em;
  }
}

@media screen and (max-width: 660px) {
  .f-infotext h2 {
    font-size: 1.8em;
  }
  .f-infotext p {
    line-height: 1.5em;

    font-size: 0.9em;
  }
  .info-img {
    width: 85%;
  }
  .f-info-tabs img {
    margin-bottom: 10px;
  }

  .f-info-tabs {
    margin-top: 2%;
  }
}

@media screen and (max-width: 610px) {
  .f-info-container {
    margin: 40px;
  }

  .f-infotext {
    margin-bottom: 15px;
  }
  .f-infotext h2 {
    font-size: 1.5em;
  }
  .f-infotext p {
    line-height: 1.3em;

    font-size: 0.7em;
  }

  .f-info-tabs img {
    margin-bottom: 10px;
  }
  .f-info-all {
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
  }
  .f-img-contain {
    display: flex;
    justify-content: center;
  }
  .info-img {
    width: 98%;

    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .f-info-tabs {
    margin-right: 0px;
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .f-info-tabs {
    margin-right: 0px;
    width: 90%;
  }
  .f-img-contain {
    width: 100%;
  }
  .info-img {
    width: 80%;

    margin-left: 0px;
  }
  .f-infotext p {
    line-height: 0.8em;
    line-height: 1em;
  }
  .f-info-container {
    margin: 30px;
    padding-bottom: 20px;
    margin-right: 30px;
    margin-top: 50px;
  }
}
/*******WHYUS************************************************* WHYUS */
#why-us {
  background-color: #333330;
  overflow: hidden;
}
.why-us-container {
  margin: 20px;
  padding-bottom: 70px;
  padding-top: 10px;
  background-color: #333330;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

  padding-left: 80px;
}
.whyus-title-text h4 {
  font-size: 1em;
  margin-bottom: 10px;
}
.whyus-title-text h1 {
  font-size: 2.5em;
  margin-top: 0;
  font-family: Roboto Flex;
  font-weight: 800;
}
.wu-button-stuff {
  width: 20%;
  justify-content: center;

  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wu-button-stuff button {
  font-size: 15px;
  background: #ffffff;
  padding: 15px 55px 15px 55px;
  text-decoration: none;
  border: 3px solid #8ddffe;
  width: 215px;
}
.wu-button-stuff button:hover {
  background: #8ddffe;
  border: 3px solid white;
  text-decoration: none;
}

.slider {
  display: flex;
  justify-content: center;
}
.slider div {
  width: 4320px;
  height: 400;
  object-fit: scale-down;
}

.slider-div img {
  width: 1080px;
  height: 400px;
}
@media screen and (max-width: 1300px) {
  .slider div {
    width: 2880px;
    height: 266px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 720px;
    height: 266px;
  }
  .title-button {
    padding-left: 40px;
    padding-right: 40px;
  }
  .whyus-title-text h4 {
    font-size: 0.8em;
    width: 50%;
  }
  .whyus-title-text h1 {
    font-size: 2em;
  }
  .wu-button-stuff {
    width: 50%;
    display: flex;
    align-items: flex-end;
  }
  .wu-button-stuff button {
    /* margin-top: 20%; */
    font-size: 10px;

    padding: 12px 55px 12px 55px;

    width: 150px;
  }
  .wu-button-stuff .button-box {
    display: none;
  }
}

@media screen and (max-width: 856px) {
  .title-button {
    padding-left: 0px;
  }
  .whyus-title-text h4 {
    font-size: 0.8em;
    width: 50%;
  }
  .whyus-title-text h1 {
    font-size: 2em;
  }
  .wu-button-stuff {
    width: 50%;
    display: flex;
    align-items: flex-end;
  }
  .wu-button-stuff button {
    /* margin-top: 20%; */
    font-size: 10px;

    padding: 12px 55px 12px 55px;

    width: 160px;
  }

  .slider div {
    width: 1600px;
    height: 148px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 400px;
    height: 148px;
  }
}

@media screen and (max-width: 500px) {
  .title-button {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
  }
  .whyus-title-text h4 {
    font-size: 0.8em;
    width: 50%;
  }
  .whyus-title-text h1 {
    font-size: 1.2em;
  }

  .wu-button-stuff {
    width: 30%;
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .wu-button-stuff button {
    display: flex;
    width: 100%;
    font-size: 10px;
    padding: 8px 20px 8px 20px;
  }

  .slider div {
    width: 1440px;
    height: 133px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 360px;
    height: 133px;
  }
}

@media screen and (max-width: 400px) {
  .title-button {
    display: block;
    padding-left: 0px;
  }

  .whyus-title-text h4 {
    font-size: 0.8em;
    width: 90%;
  }
  .whyus-title-text h1 {
    font-size: 1.2em;
    width: 100%;
  }
  .wu-button-stuff {
    display: none;
  }

  .wu-button-stuff button {
    display: none;
  }
}

/****Schedule************************************** SCHEDULE STUFF */
.hero-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/schedule/pexels-max-rahubovskiy-7031705.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: auto;
}

.schedule-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.schedule-all .title {
  display: flex;
  flex-direction: column;
  margin-top: 2%;

  align-items: center;
}
.schedule-all .title h4 {
  margin-bottom: 5px;
}

.schedule-all .title h1 {
  margin-top: 0;
  font-size: 3em;
  font-family: Roboto Flex;
}
.tab-sec-1,
.tab-sec-2,
.tab-sec-3 {
  display: flex;
  justify-content: center;
}

.s-tabs img {
  width: 40%;
}

.schedule-tabs-all {
  margin-bottom: 8%;
}

@media screen and (max-width: 740px) {
  .schedule-all .title h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 610px) {
  .schedule-all .title h1 {
    font-size: 1.4em;
    margin-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .s-tabs img {
    width: 50%;
  }
}

/********SECOND INFO TAB**************************************************** SECOND INFO TAB */
.sec-info-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.sec-info-vid {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 5%;
}
.sec-tabs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sec-tab-row {
  display: flex;
  justify-content: center;
}

.sec-tab-row img {
  width: 40%;
}
video {
  width: 90%;
}
@media screen and (max-width: 740px) {
  .sec-info-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
  .sec-info-vid {
    width: 100%;
  }
  video {
    width: 70%;
  }

  .sec-tabs {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .sec-info-all {
    margin: 0px;
  }

  .sec-tabs {
    width: 100%;
    margin-bottom: 20px;
  }
}

/****OUR TEAM*********************************************** OUR TEAM */
#our-team-section {
  padding-bottom: 30px;
  object-fit: cover;
  overflow: hidden;
}

.our-team-all {
  margin-left: 40px;
  margin-right: 40px;
}
.our-team-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
}
.our-team-title h1 {
  font-size: 3.5em;
  margin-top: auto;
  font-family: Roboto Flex;
}
.our-team-title h4 {
  margin-bottom: 4px;
  margin-top: 3%;
}

.o-team-slider .team-tab {
  width: 50%;
}
.team-tab img {
  width: 90%;
}

@media screen and (max-width: 740px) {
  .our-team-title h1 {
    font-size: 1.8em;
    margin-top: auto;
    font-family: Roboto Flex;
  }
  .our-team-title h4 {
    margin-top: 8%;
  }
  .o-team-slider {
    width: 600px;
  }
  .o-team-slider .team-tab {
    width: 100%;
  }
  .team-tab img {
    width: 100%;
  }
}

/***BMICALC********************************************************** BMI CALC */
#bmi-section {
}
.bmi-all {
  display: flex;

  justify-content: space-between;
  background-color: #8ddffe;
}

.bmi-title-metrics {
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bmi-title-metrics h1 {
  font-size: 3.8em;
  font-family: Roboto Flex;
}
.bmi-title-metrics button {
  margin-top: 30px;
  margin-right: 5%;
  width: 185px;
  height: 50px;
  font-size: 1em;
  background-color: #333330;
  color: #54caf5;
  font-weight: 800;
  border: none;
  border-radius: 4px;
}
.bmi-title-metrics button:hover {
  background-color: white;
  border: 3px solid #54caf5;
}
#bmi-section img {
  width: 100%;
}
.bmi-all .img-contain {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.bmi-title-metrics input {
  width: 275px;
  height: 55px;
  background-color: #8ddffe;
  color: #333330;
  font-family: Roboto Flex;
  font-weight: 900;
  font-size: 2em;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 4px;
}
.bmi-title-metrics input::placeholder {
  color: #333330;
}
.bmi-buttons {
  display: flex;
}

.calc-results {
  padding: 10px 30px 10px 30px;
  font-weight: 700;
  color: #1f1f1e;
}

@media screen and (max-width: 1300px) {
  .bmi-title-metrics {
    width: 45%;
    padding: 0px;
  }
  .bmi-title-metrics h1 {
    font-size: 3em;
    margin-top: 0px;
  }
  #bmi-section img {
    width: 100%;
    height: 100%;
  }
  .bmi-all .img-contain {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .bmi-title-metrics input {
    width: 150px;
    height: 35px;
    font-size: 1em;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 856px) {
  .bmi-title-metrics {
    width: 45%;

    margin-left: 0px;
  }
  .bmi-title-metrics h1 {
    font-size: 2.4em;
    margin-top: 25px;
  }
  #bmi-section img {
    width: 100%;
    height: 100%;
  }
  .bmi-all .img-contain {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .bmi-title-metrics input {
    width: 120px;
    height: 30px;
    font-size: 1em;
    margin-right: 15px;
    margin-bottom: 8px;
  }
  .bmi-title-metrics button {
    margin-top: 8px;
    margin-right: 3%;
    width: 115px;
    height: 30px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 740px) {
  .bmi-title-metrics {
    width: 45%;

    margin-left: 0;
  }
  .bmi-title-metrics h1 {
    font-size: 2em;
    margin-top: -2px;
  }

  #bmi-section img {
    width: 100%;
    height: 100%;
  }
  .bmi-all .img-contain {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .bmi-title-metrics input {
    width: 105px;
    height: 20px;
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .bmi-title-metrics button {
    margin-top: 8px;
    margin-right: 3%;
    width: 105px;
    height: 30px;
    font-size: 0.75em;
  }
}

@media screen and (max-width: 660px) {
  .bmi-title-metrics {
    width: 45%;
    padding: 20px;
    margin-left: 0;
  }
  .bmi-title-metrics h1 {
    font-size: 1.8em;
    margin-top: -2px;
  }
  #bmi-section img {
    width: 100%;
    height: 100%;
  }
  .bmi-all .img-contain {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  .bmi-title-metrics input {
    width: 95px;
    height: 20px;
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .bmi-title-metrics button {
    margin-top: 8px;
    margin-right: 3%;
    width: 95px;
    height: 30px;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 500px) {
  .bmi-title-metrics {
    width: 100%;
    padding: 20px;
    margin-left: 0;
  }
  .bmi-title-metrics h1 {
    font-size: 1.5em;
    margin-top: -2px;
  }
  .bmi-title-metrics label {
    font-size: 0.9em;
  }
  #bmi-section img {
    display: none;
  }
  .bmi-all .img-contain {
    display: none;
  }
  .bmi-title-metrics input {
    width: 100px;
    height: 20px;
    font-size: 0.5em;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .bmi-title-metrics button {
    width: 80px;
    height: 30px;
    font-size: 0.6em;
  }
  .calc-results {
    padding: 10px 30px 10px 30px;
    font-weight: 700;
    color: #1f1f1e;
    text-align: center;
  }
}

/**CLIENT FEEDBACK******************************************************* CLIENT FEEDBACK */
#client-feedback {
  overflow: hidden;
  padding-bottom: 30px;
}

.client-f-all {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.client-f-text h1 {
  font-size: 3em;
  font-family: Roboto Flex;
  margin-bottom: 0px;
  margin-top: 3%;
}
.client-f-text p {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5em;
}
.slick-prev,
.slick-next,
.slick-arrow {
  background-color: #333333;
}
.slick-prev,
.slick-next,
.slick-arrow:hover {
  background-color: #333333;
}

@media screen and (max-width: 856px) {
  .client-f-text h1 {
    font-size: 1.8em;
    margin-top: 5%;
  }
  .client-f-text p {
    font-size: 0.95em;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 740px) {
  .client-f-text h1 {
    font-size: 1.5em;
    margin-top: 5%;
  }
  .client-f-text p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 610px) {
  .client-f-text h1 {
    font-size: 1.4em;
    margin-top: 5%;
  }
  .client-f-text p {
    font-size: 0.8em;
    line-height: 1.3em;
  }
  .client-f-all {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 400px) {
  .client-f-text p {
    margin: 5px 5px 0px 5px;
    padding: 0px 5px 5px 5px;
    line-height: 1.5em;
    font-size: 0.7em;
  }
}

/* **BLOG CARD************************BLOG CARD SEC */
#blog-card-section {
  padding-bottom: 20px;
}
.blog-c-sec-all {
  margin: 40px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-c-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.blog-c-text h4 {
  margin-bottom: 5px;
}
.blog-c-text h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-family: Roboto Flex;
  font-size: 3em;
}

.blog-c-text p {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5em;
}
.card-container {
  display: flex;
  justify-content: center;
}
.card {
  margin-right: 40px;
}
.card-exercise {
  background-color: #c6eaf7;
  width: 70px;
  text-align: center;
}
#card-images {
  object-position: top;
  width: 100%;
}

@media screen and (max-width: 856px) {
  .blog-c-text h1 {
    font-size: 1.5em;
    margin-top: 5%;
  }
  .blog-c-text p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 80%;
    margin-right: 00px;
    margin-bottom: 20px;
  }

  #card-title {
    font-size: 1em;
  }
  #card-description {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 610px) {
  .blog-c-text h1 {
    font-size: 1.4em;
    margin-top: 5%;
  }
  .blog-c-text p {
    font-size: 0.8em;
    line-height: 1.3em;
    padding-left: 5px;
    padding-right: 5px;
  }
  .blog-c-text {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 400px) {
  .blog-c-sec-all {
    margin: 5px;
  }
  .blog-c-text p {
    font-size: 0.7em;
  }
}
/* ***FOOTER***************************************************************FOOTER */
#footer {
  padding-bottom: 20px;
  margin-top: auto;
}
.footer-all {
  display: flex;
  margin: 0px;
  justify-content: center;
}

.footer-img {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 20%;
}
.img img {
  width: 50px;
}
.img h1 {
  font-size: 2.5em;
}
.img-1 {
  display: flex;
  align-items: center;
}
.img-1 img {
  width: 50px;
  height: 50px;
}
.img-2 img {
  width: 200px;
  margin-bottom: 0;
}
.img-2 {
  margin-left: 10px;
}
.img-2 p {
  margin-top: auto;
  color: rgb(216, 216, 216);
}
.footer-half {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 30px;
  width: 65%;
  align-items: center;
}
.footer-half h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
}
.info {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  width: 100%;
}
.footer-info {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  width: 30;
}
.footer-info p {
  color: rgb(216, 216, 216);
}
.footer-info h3,
.footer-info p {
  margin-bottom: 0;
  margin-top: 5px;
}

@media screen and (max-width: 1500px) {
  .footer-half h1 {
    font-size: 1.7em;
  }
  .img h1 {
    font-size: 2em;
  }
  .img-1 img {
    width: 45px;
    height: 45px;
  }
  .img-2 img {
    width: 175px;
    margin-bottom: 0;
  }
  .img-2 p {
    font-size: 1em;
  }
  .footer-info h3 {
    font-size: 1.2em;
  }
  .footer-info p {
    font-size: 1em;
  }
  #footer {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 856px) {
  .footer-half h1 {
    font-size: 1.5em;
    text-align: left;
  }
  .img h1 {
    font-size: 1.5em;
  }
  .img-1 img {
    width: 40px;
    height: 40px;
  }
  .img-2 img {
    width: 125px;
    margin-bottom: 0;
  }
  .img-2 p {
    font-size: 1em;
  }
  .footer-info h3 {
    font-size: 1em;
  }
  .footer-info p {
    font-size: 0.8em;
  }
  #footer {
    padding-bottom: 10px;
  }
  .info {
    margin-left: 0px;
  }
}

@media screen and (max-width: 740px) {
  .footer-half h1 {
    font-size: 1em;
  }
  .img h1 {
    font-size: 1em;
  }
  .img-1 img {
    width: 30px;
    height: 30px;
  }
  .img-2 img {
    width: 100px;
    margin-bottom: 0;
  }
  .img-2 p {
    font-size: 0.8em;
  }
  .footer-info h3 {
    font-size: 0.8em;
  }
  .footer-info p {
    font-size: 0.6em;
  }
  #footer {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .footer-half h1 {
    font-size: 0.9em;
  }
  .img h1 {
    font-size: 1em;
  }
  .img-1 img {
    width: 20px;
    height: 20px;
  }
  .img-2 img {
    width: 70px;
    margin-bottom: 0;
  }
  .img-2 p {
    font-size: 0.7em;
  }
  .footer-info h3 {
    font-size: 0.8em;
  }
  .footer-info p {
    font-size: 0.6em;
  }
  #footer {
    padding-bottom: 10px;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/* ***ABOUT US***************************************************************ABOUT US */

.hero-image-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/hero-bg/herob-1.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: auto;
}

.about-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.about-hero-text i {
  font-size: 2em;
}
.about-hero-text .white {
  margin-bottom: 0;
}
.about-hero-text .light-blue-color {
  margin-top: 0;
}

.about-hero-text .about-hero-btn {
  border: 1px solid white;
  background-color: transparent;
  font-weight: 900;
  font-family: Arial;
  font-size: 16px;
  padding: 16px 22px 16px 22px;
  border-radius: 10px 0px 10px 0px;
}
.about-hero-text .about-hero-btn:hover {
  background-color: #54caf5;
  color: white;
  border: none;
}

@media screen and (max-width: 856px) {
  .about-hero-text i {
    font-size: 1.5em;
  }
  .about-hero-text {
    height: 400px;
  }
  .about-hero-text .about-hero-btn {
    padding: 10px 18px 10px 18px;
  }
}

@media screen and (max-width: 740px) {
  .about-hero-text i {
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  .about-hero-text i {
    font-size: 0.95em;
    padding: 10px;
  }
  .about-hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 85%;
    text-align: center;
  }
  .about-hero-text .about-hero-btn {
    font-size: 14px;
  }
}
/*********ABOUT US********************************************************* AboutSec */
#about-us-all {
  background-color: #333330;

  overflow: hidden;
}

.about-us-team {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 40px;
}
.left-t {
  display: flex;
  width: 50%;
  gap: 2rem;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
}
.left-t > :nth-child(1) {
  color: #54caf5;
  font: bold;
}
.left-t > :nth-child(2),
.left-t > :nth-child(3) {
  font-weight: bold;
  font-size: 3rem;
}

.left-t > :nth-child(4) {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}

.stroke-text {
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

.right-t {
  width: 50%;
  position: relative;
  padding-left: 20%;
  width: 40%;
  margin-top: 50px;
}

.right-t img {
  width: 20rem;
  height: 23rem;
  object-fit: cover;

  top: 1rem;
  position: absolute;
  z-index: 2;
}
.right-t .b1 {
  position: absolute;
  width: 20rem;
  height: 22rem;
  border: 2px solid #54caf5;
  background-color: transparent;
  left: 15px;
  top: 1.5rem;
}
.right-t .b2 {
  position: absolute;
  width: 19rem;
  height: 21rem;
  top: 0.8rem;
  left: -10px;

  background: #8ddffe;
}
.right-t .blue-squares {
  position: absolute;
}
.arrows {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}
@media screen and (max-width: 1077px) {
  .right-t {
    width: 40%;
    margin: center;
    padding-left: 80px;
    margin-top: 50px;
  }
  .left-t > :nth-child(2),
  .left-t > :nth-child(3) {
    font-weight: bold;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 856px) {
  .about-us-team {
    display: flex;
    gap: 1rem;
    padding: 20px;
    padding-bottom: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-t {
    width: 100%;
    gap: 1rem;
  }
  .right-t {
    width: 100%;
    padding-left: 50%;
  }

  .arrows {
    left: 45%;
  }
}

@media screen and (max-width: 610px) {
  .right-t {
    width: 100%;
    margin: center;
    padding-left: 20%;
    margin-top: 50px;
  }
  .left-t > :nth-child(3) {
    margin-top: auto;
  }
  .right-t img {
    width: 17rem;
  }
  .right-t .b1 {
    width: 17rem;
  }
  .right-t .b2 {
    width: 16rem;
  }
}
@media screen and (max-width: 410px) {
  .left-t > :nth-child(2),
  .left-t > :nth-child(3) {
    font-weight: bold;
    font-size: 2rem;
  }

  .left-t > :nth-child(4) {
    text-transform: none;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 0.8em;
  }
  .left-t {
    display: flex;
    width: 85%;
    gap: 1rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
  }

  .right-t {
    width: 100%;

    padding-left: 40%;
  }
  .right-t img {
    width: 12rem;
  }
  .right-t .b1 {
    width: 12rem;
  }
  .right-t .b2 {
    width: 11rem;
  }
}
/* **JOIN**********************************************************JOIN */
#join-us {
  background-color: #000000;
  overflow: hidden;
}

.join {
  display: flex;
  padding: 0 2rem;
  gap: 10rem;

  padding: 40px 80px 40px 40px;
}

.left-j {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.left-j hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid #54caf5;
  border-radius: 20%;
  margin: -10px 0;
}
.left-j div {
  display: flex;
  gap: 1rem;
}

.right-j {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 40px;
}
.email-container {
  display: flex;
  gap: 3rem;
  background-color: gray;
  padding: 1rem 2rem;
}
.email-container input {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(221, 221, 221);
}
::placeholder {
  color: rgb(211, 211, 211);
}

.email-container .btn-j {
  background-color: #54caf5;
  color: white;
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
}
@media screen and (max-width: 1300px) {
  .join {
    display: flex;

    align-items: flex-start;
    gap: 1em;
  }
  .left-j {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
  }
  .left-j div {
    display: flex;
  }
  .right-j {
    padding-right: 0px;
  }
}

@media screen and (max-width: 1077px) {
  .join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
  .left-j {
    display: flex;
    flex-direction: column;
    font-size: 2.8em;
  }
  .left-j div {
    display: flex;
  }
  .right-j {
    padding-right: 0px;
  }
}
@media screen and (max-width: 856px) {
  .join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
  .left-j {
    display: flex;
    flex-direction: column;
    font-size: 2.3em;
  }
  .left-j div {
    display: flex;
  }
  .right-j {
    padding-right: 0px;
  }
}

@media screen and (max-width: 740px) {
  .join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
  .left-j {
    display: flex;
    flex-direction: column;
    font-size: 2.3em;
  }
  .left-j div {
    display: flex;
  }
  .right-j {
    padding-right: 0px;
  }
}

@media screen and (max-width: 660px) {
  .join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
  .left-j {
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
  .left-j div {
    display: flex;
  }
  .right-j {
    padding-right: 0px;
  }
}

@media screen and (max-width: 468px) {
  .left-j {
    display: flex;
    flex-direction: column;

    width: 130%;
  }
}
@media screen and (max-width: 400px) {
  .join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
  .left-j {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    width: 130%;
  }
  .email-container {
    display: flex;
    gap: 0.2rem;
    background-color: gray;
    padding: 0.5rem 0.2rem;
  }

  .email-container .btn-j {
    width: 70px;
  }
}

/* BLOGSITE************************************************************************** */

#blog-site {
  background-color: #333330;
}

.blog-c-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/blog/community.jpeg");
  height: 70%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: auto;
}

.blog-c-wrapper .title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  justify-content: center;
}
.blog-c-wrapper .title-wrap .wrap {
  background-color: #333330;
  color: white;
  width: 65%;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-c-wrapper .title-wrap .wrap h1 {
  font-size: 2.5em;
  width: 70%;
  margin-bottom: 0;
}

#article-all {
  background-color: #ffffff;
  margin-top: 80px;
  margin-bottom: 30px;
}
#article {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
}

.author-info {
  display: flex;
  justify-content: start;
}
.author-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.author-info-2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.author-info-2 img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.author-more {
  font-size: 0.8em;
}
#article p {
  font-size: 1.5em;
  line-height: 1.5em;
}

#article p:nth-child(3) {
  font-size: 2em;
  font-weight: bold;
}
#article .image-text {
  display: flex;

  margin-right: 40px;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  justify-content: space-around;
}
#article .image-text p {
  width: 50%;
}
#article .image-text img {
  width: 35%;
}
@media screen and (max-width: 1500px) {
  .blog-c-wrapper .title-wrap {
    height: 470px;
  }
  #article-all {
    background-color: #ffffff;
    margin-top: 50px;
  }
  #article {
    margin-left: 50px;
    margin-right: 50px;
  }
  #article p {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  #article .image-text {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;

    width: 100%;
  }
  #article .image-text p {
    width: 50%;
  }
  #article .image-text img {
    width: 35%;
  }
  #article p:nth-child(3) {
    font-size: 1.7em;
    font-weight: bold;
  }
}
@media screen and (max-width: 1077px) {
  .blog-c-wrapper .title-wrap {
    height: 470px;
  }
  #article-all {
    background-color: #ffffff;
    margin-top: 50px;
  }
  #article {
    margin-left: 50px;
    margin-right: 50px;
  }
  #article p {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  #article .image-text {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;

    width: 100%;
  }
  #article .image-text p {
    width: 100%;
  }
  #article .image-text img {
    width: 70%;
  }
  #article p:nth-child(3) {
    font-size: 1.7em;
    font-weight: bold;
  }
  .blog-c-wrapper .title-wrap .wrap {
    padding: 20px;
  }
  .blog-c-wrapper .title-wrap .wrap h1 {
    font-size: 2em;
    width: 90%;
  }
  .blog-c-wrapper .title-wrap .wrap {
    width: 70%;
  }
}
@media screen and (max-width: 856px) {
  .blog-c-wrapper .title-wrap {
    height: 390px;
  }
  #article-all {
    background-color: #ffffff;
    margin-top: 50px;
  }
  #article {
    margin-left: 50px;
    margin-right: 50px;
  }
  #article p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  #article .image-text {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;

    width: 100%;
  }
  #article .image-text p {
    width: 100%;
  }
  #article .image-text img {
    width: 90%;
  }
  #article p:nth-child(3) {
    font-size: 1.5em;
    font-weight: bold;
  }
  .blog-c-wrapper .title-wrap .wrap h1 {
    font-size: 2em;
    width: 90%;
  }
}

@media screen and (max-width: 740px) {
  .blog-c-wrapper .title-wrap {
    height: 400px;
  }
  #article-all {
    background-color: #ffffff;
    margin-top: 50px;
  }
  #article {
    margin-left: 50px;
    margin-right: 50px;
  }
  #article p {
    font-size: 1em;
    line-height: 1.5em;
  }
  #article .image-text {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;

    width: 100%;
  }
  #article .image-text p {
    width: 100%;
  }
  #article .image-text img {
    width: 80%;
  }
  #article p:nth-child(3) {
    font-size: 1.5em;
    font-weight: bold;
  }
}
@media screen and (max-width: 660px) {
  .author-info-2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .author-info-2 img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
  }

  .author-more {
    font-size: 0.9em;
  }
  #article {
    margin-left: 14px;
    margin-right: 14px;
  }
  #article .image-text {
    display: flex;
    margin-left: 0px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 400px) {
  .blog-c-wrapper .title-wrap .wrap h1 {
    font-size: 1.8em;
    width: 100%;
    line-height: 1.4em;
  }
  #article-all {
    background-color: #ffffff;
    margin-top: 50px;
  }
  #article {
    margin-left: 20px;
    margin-right: 20px;
  }

  #article .image-text img {
    width: 90%;
  }
  #article p:nth-child(3) {
    font-size: 1.3em;
  }
}
/* Class HEADER **************************** */
#class-section {
  margin-top: auto;
}
.class-h-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/hero-bg/herob-3.jpeg");
  height: 70%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: auto;
  padding-bottom: 30px;
}
.class-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.class-text p {
  font-size: 1.2em;
  text-align: center;
}
.class-text h1 {
  margin-bottom: 0px;
  font-size: 3em;
  text-align: center;
}
.class-text .class-hero-btn {
  font-size: 1em;
  background-color: #333330;
  color: #54caf5;
  border: 1px solid #54caf5;
  margin-top: 30px;
  font-family: Arial;
  font-size: 16px;
  padding: 18px 22px 18px 22px;
  border-radius: 10px 0px 10px 0px;
}
.class-text .class-hero-btn:hover {
  background-color: white;
}

@media screen and (max-width: 660px) {
  .class-h-img {
    padding-bottom: 0px;
  }
  .class-text {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .class-text p {
    padding: 0px 20px 0px 20px;
  }
  .class-text h1 {
    font-size: 2.5em;
    padding: 0px 20px 0px 20px;
  }
}
@media screen and (max-width: 400px) {
  .class-text {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .class-text p {
    padding: 0px 15px 0px 15px;
    font-size: 0.9em;
  }
  .class-text h1 {
    font-size: 2em;
    padding: 0px 20px 0px 20px;
  }
}

/* *************CLASSES OTHER ***********************************/

.class-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}
.class-h p {
  margin-top: 0px;
  font-size: 1.2em;
  width: 60%;
}
.class-h h1 {
  margin-bottom: 10px;
  font-family: Roboto Flex;
  font-size: 3em;
}
.class-h hr {
  border: 2px solid #54caf5;
  width: 50px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.class-img {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.class-img img {
  width: 100%;
}
.class-img button {
  font-size: 1.2em;
  background-color: transparent;
  color: #54caf5;
  border: 1.5px solid #43a3c6;
}
.class-img button:hover {
  background-color: #333330;
}
.class-img .text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  text-align: center;
}
.open-gym-slot {
  display: flex;
  flex-direction: column;
}

.open-gym-b {
  display: flex;
}
.class-img div {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .class-h p {
    font-size: 1em;
    width: 90%;
  }
  .class-h h1 {
    font-size: 2.7em;
  }

  .class-img {
    padding: 0px 40px 40px 40px;
  }
  .class-img img {
    width: 100%;
  }
  /*  */
  .class-img button {
    font-size: 1em;
  }

  .class-img .text-container {
    width: 270px;
  }
  .class-img .text-container p {
    margin-top: 0;
  }
  .open-gym-slot h4 {
    margin-top: 0;
  }

  .class-img div {
    display: flex;

    justify-content: center;

    align-items: center;
  }
  .class-img h1 {
    font-size: 1.5em;
  }
  .class-img p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1077px) {
  .class-h p {
    font-size: 1em;
    width: 90%;
  }
  .class-h h1 {
    font-size: 2.7em;
  }

  .class-img {
    padding: 0px 40px 40px 40px;
  }
  .class-img img {
    width: 100%;
  }
  /*  */
  .class-img button {
    font-size: 1em;
  }

  .class-img .text-container {
    width: 270px;
  }
  .class-img .text-container p {
    margin-top: 0;
  }
  .open-gym-slot h4 {
    margin-top: 0;
  }

  .class-img div {
    display: flex;

    justify-content: center;
    width: 80%;
    align-items: center;
  }
  .class-img h1 {
    font-size: 1.5em;
  }
  .class-img p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 856px) {
  .class-h h1 {
    font-size: 2.5em;
  }

  /*  */
  .class-img button {
    font-size: 1em;
  }

  .class-img .text-container {
    width: 260px;
  }

  .class-img div {
    width: 90%;
  }
  .class-img h1 {
    font-size: 1.8em;
  }
  .class-img p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 740px) {
  /*  */
  .class-img button {
    font-size: 1.2em;
  }

  .class-img .text-container {
    width: 350px;
  }

  .class-img .text-container p {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .open-gym-slot {
    display: flex;
    flex-direction: column;
  }
  .open-gym-slot h4 {
    margin-top: 20px;
  }

  .open-gym-b {
    display: flex;
  }
  .class-img div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
  }

  .class-img p {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 660px) {
  /*  */
  .class-img button {
    font-size: 1em;
  }

  .class-img .text-container {
    width: 300px;
  }

  .class-img h1 {
    font-size: 1.5em;
  }
  .class-img p {
    font-size: 0.8em;
  }
  .open-gym-slot h4 {
    margin-top: 0px;
  }
  .class-img .text-container p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .class-h p {
    font-size: 0.8em;
    width: 95%;
  }
  .class-h h1 {
    font-size: 1.8em;
  }
  .class-img button {
    font-size: 0.7em;
  }

  .class-img .text-container {
    width: 200px;
  }

  .class-img h1 {
    font-size: 0.9em;
    margin-bottom: 1;
  }
  .class-img p {
    font-size: 0.7em;
    margin-top: 0;
  }
  .open-gym-slot h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 0.8em;
  }
  .class-img .text-container p {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .class-img {
    padding: 0px 10px 10px 10px;
  }
}
/*  */
.class-advantage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: hsl(45, 29%, 97%);
  margin-bottom: 0;
}
.class-a-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.class-a {
  display: flex;
}
.class-a p,
.class-b p {
  width: 80%;
}
.class-b {
  display: flex;
}

.c-text-img {
  display: flex;
  align-items: center;
}

.c-text-img img {
  width: 63px;
  height: 63px;
  padding-right: 11px;
  padding-left: 20px;
}

.class-advantage h1 {
  font-family: Roboto Flex;
  font-size: 3em;
}

.class-advantage h2 {
  font-size: 1.9em;
  margin-bottom: 8px;
}
.class-advantage p {
  margin-top: 0;
  display: flex;
}
@media screen and (max-width: 660px) {
  .class-a,
  .class-b {
    display: flex;
    flex-direction: column;
  }

  .class-advantage h1 {
    font-size: 2.5em;
  }

  .class-advantage h2 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .class-advantage h1 {
    font-size: 1.8em;
  }

  .class-advantage h2 {
    font-size: 1em;
  }
  .class-a p,
  .class-b p {
    width: 100%;
    font-size: 0.8em;
  }
  .class-a-b {
    padding: 10px;
  }
}
/*  */
.class-free {
  background-color: #54caf5;
  margin-bottom: 0px;
  margin-top: 0px;

  display: flex;
  justify-content: center;
}

.class-free img {
  width: 40%;
}
.c-free {
  width: 70%;
  display: flex;
  justify-content: center;
}
.c-free-a {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.c-free-a h1 {
  font-size: 3.2em;
  font-family: Roboto Flex;
  font-weight: 900;
}
.c-free-a button {
  font-size: 1em;
  background-color: white;
  color: #54caf5;
  border: 1px solid #54caf5;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
}
.c-free-a button:hover {
  background-color: #333330;
  color: #54caf5;
}
.c-free-a .email-container {
  display: flex;
  gap: 3rem;
  background-color: gray;
  padding: 0.1rem 0.8rem;
}
@media screen and (max-width: 1216px) {
  .c-free-a h1 {
    font-size: 2.6em;
  }
  .c-free-a {
    width: 80%;
  }
}

@media screen and (max-width: 1077px) {
  .class-free {
    background-color: #54caf5;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
  }

  .class-free img {
    width: 50%;
    height: 80%;
    margin-top: auto;
  }

  .c-free {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .c-free-a {
    width: 70%;
  }
  .c-free-a h1 {
    font-size: 2.5em;
  }
  .c-free-a button {
    font-size: 1.2em;
    background-color: white;
    color: #54caf5;
    border: 1px solid #54caf5;
    margin-bottom: 10px;
    width: 125px;
    height: 40px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 856px) {
  .class-free {
    background-color: #54caf5;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
  }

  .class-free img {
    width: 50%;
    height: 80%;
    margin-top: auto;
  }

  .c-free {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .c-free-a {
    width: 80%;
  }
  .c-free-a h1 {
    font-size: 2.3em;
  }
  .c-free-a button {
    font-size: 1.2em;
    background-color: white;
    color: #54caf5;

    margin-bottom: 10px;
    width: 120px;
    height: 35px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 660px) {
  .class-free img {
    width: 60%;
  }

  .c-free-a h1 {
    font-size: 1.6em;
  }
  .c-free-a button {
    width: 80px;
    height: 40px;
    font-size: 0.8em;
  }
  .c-free-a .email-container {
    display: flex;
    gap: 2rem;
    background-color: gray;
    width: 260px;
  }
}

@media screen and (max-width: 400px) {
  .class-free {
    padding: 20px 30px 0px 30px;
    display: flex;
    justify-content: center;
  }
  .class-free img {
    width: 60%;
  }

  .c-free-a h1 {
    font-size: 1.4em;
  }

  .c-free {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* CONTACT SECTION*******************************CONTACT SECTION */

#contact-bg {
  background-color: #333330;
}

#contact-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/contact/contact1.jpeg");
  background-size: cover;
  padding-bottom: 300px;
  overflow: hidden;
}
.contact-text {
  width: 50%;
  padding: 20px 100px 0px 100px;
}

.contact-text h1 {
  font-size: 3em;
}

.contact-text h3 {
  font-size: 1.8em;
  letter-spacing: 1px;
}
.contact-text .form-row {
  display: flex;
  color: white;
  margin: 32px 0px;
}
.contact-text .form-row .input-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
  position: relative;
}
.contact-text .form-row .input-data label {
  margin-bottom: 15px;
}
.contact-text .form-row .input-data input {
  height: 40px;
  border-radius: 2px;
  border: none;
}
.contact-text .form-row .input-data textarea {
  border-radius: 3px;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.contact-text .form-row .submit-btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 800;
  padding: 17px 75px 17px 75px;
  border: solid #54caf5 2px;
  text-decoration: none;
  background-color: transparent;
}

.contact-text .form-row .submit-btn:hover {
  background: #54caf5;
  text-decoration: none;
}

@media screen and (max-width: 856px) {
  #contact-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../public/images/contact/contact1.jpeg");
    background-size: cover;
    padding-bottom: 100px;
    overflow: hidden;
  }
  .contact-text .form-row {
    display: flex;
    flex-direction: column;
  }
  .contact-text .form-row {
    display: flex;
    flex-direction: column;
  }
  .contact-text {
    width: 80%;
    padding: 0 20px;
  }

  .contact-text h1 {
    font-size: 2em;
  }

  .contact-text h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  .contact-text .form-row .input-data input {
    height: 40px;
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
  }
}

/* SCHEDULE NOW*********************************************SCHEDULE NOW*/

#schedule-app {
  background-color: #1f1f1e;
  padding: 60px;
}
.schedule-text-ab {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin-left: 30px;
}
.schedule-text-a {
  color: white;

  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.schedule-text-ab p {
  width: 70%;
  margin-bottom: 25px;
  color: rgb(201, 201, 201);
  letter-spacing: 1px;
}
.schedule-text-a h1 {
  margin-bottom: 0px;
  font-size: 3em;
  margin-top: 0;
}
.schedule-text-b p {
  margin-top: 0;
}

.calendar-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 70px;
  letter-spacing: 1px;
}

.calendar-text h1 {
  font-size: 3em;
  margin-bottom: 0px;
}

.calendar-text p {
  margin-bottom: 60px;
}

.calendar-text img {
  width: 90%;
}

.schedule-app-buttons {
  margin-top: 30px;
  margin-bottom: 80px;
}
.schedule-app-buttons .btn-b {
  margin: 15px;
}

.btn-a {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #000000;
  border: none;
  background: #54caf5;
  padding: 18px 24px 18px 24px;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
}
.btn-a:hover {
  background: transparent;
  text-decoration: none;
  border: 1px solid #54caf5;
  color: #54caf5;
}

.btn-b {
  background: transparent;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 18px 24px 18px 24px;
  font-family: Arial;
  font-size: 16px;
}

.btn-b:hover {
  background-color: #000000;
  text-decoration: none;
  border: 1px solid #54caf5;
  color: #54caf5;
}

.personal-training {
  background: #54caf5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 100px 10px 100px;
}

.personal-training h1 {
  margin-bottom: 0;
}
.personal-training .training-btn {
  color: white;
  border: none;
  background-color: #1f1f1e;

  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  padding: 18px 22px 18px 22px;
  border-radius: 10px 0px 10px 0px;
}
.personal-training .training-btn:hover {
  background-color: #000000;
  text-decoration: none;
  border: 1px solid #54caf5;
  color: #54caf5;
}

@media screen and (max-width: 1200px) {
  .schedule-text-ab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .schedule-text-a {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .schedule-text-ab p {
    width: 90%;
  }
  .schedule-text-a h1,
  .calendar-text h1 {
    font-size: 2em;
  }

  .calendar-text {
    text-align: center;
  }

  .calendar-text img {
    width: 100%;
  }
  .personal-training {
    padding: 30px;

    margin: 10px 10px 10px 10px;
  }
  .personal-training .training-btn {
    padding: 18px 24px 18px 24px;
  }
}

@media screen and (max-width: 660px) {
  .calendar-text img {
    width: 130%;
  }
}
@media screen and (max-width: 450px) {
  #schedule-app {
    background-color: #1f1f1e;
    padding: 20px;
  }
  #schedule-app {
    font-size: 0.8em;
  }
  .schedule-text-a h1,
  .calendar-text h1 {
    font-size: 1.8em;
  }

  .calendar-text img {
    width: 120%;
  }
  .personal-training {
    padding: 15px;

    margin: 5px;
    margin-bottom: 25px;
  }
  .calendar-text {
    margin-top: 50px;
  }
  .calendar-text p {
    margin-bottom: 30px;
  }
  .personal-training p {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .btn-a {
    padding: 12px 18px 12px 18px;
  }
  .btn-b {
    padding: 12px 18px 12px 18px;
  }
}

/* GET STARTED*********************************************** */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* MODAl */
.modal {
  background-color: #333330;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 60%;
  max-width: 400px;
  z-index: 1000;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  background-color: #54caf5;
}
.modal-close-button:hover {
  background-color: #333330;
  border: 1px solid #54caf5;
  color: #54caf5;
}
.modal-submit {
  width: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #54caf5;
  border: none;
}
.modal-submit:hover {
  background-color: transparent;
  border: 1px solid #54caf5;
  color: #54caf5;
}

#get-started-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  justify-content: center;
  text-align: center;
}

#get-started-form h2 {
  color: white;
  font-size: 3em;
  margin-bottom: 0px;
  margin-top: 0;
  width: 100%;
}

#get-started-form p {
  color: white;
  width: 100%;
  margin-bottom: 30px;
}

#get-started-form input {
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
}
#get-started-form input,
#get-started-form textarea {
  background-color: #4b4b4b;
  padding: 5px;
  border: none;
  color: white;
}
::placeholder {
  color: #aba9a9;
  padding-left: 10px;
}
#get-started-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

@media screen and (max-width: 660px) {
  #get-started-form h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  #get-started-form h2 {
    font-size: 1.5em;
  }
  #get-started-form p {
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  .modal-close-button {
    right: 60px;
  }
  .modal {
    padding: 40px;
  }
  #get-started-form {
    padding: 0px;
  }
}
